@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body{
    background-color:black;

}
.navi {
    width: 100%;
    height: 100vh;
    background: url(img/bg.png);
    background-size: cover;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul li a {
    color: #8d8d92;
    position: relative;
    padding: 5px 0;
  }
  nav ul li a:hover {
    color: #fd4766;
  }
  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
  }
  nav ul li a:hover:after {
    width: 100%;
  }
  a{
    color: aliceblue;
    text-decoration: none;
  }.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
  }
  .btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
  }

  .tag{
    margin-bottom:20px;
    font-weight: normal;
    text-decoration: none;
    font-size:medium;
    color: white;
    text-align: center;
  }
  .overview{
    font-size: large;
    color: white;
    position:absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    text-align: left;
  }
  
  .title{
    margin-bottom: 6px;
    font-weight: 0px;
    margin-top: 5px;
    color: white;
    text-align: center;
  }

  .shop{
    margin-top:5px;
  }
  .inventry{
    margin-top: 20 px;
  }
 

  
 